<div class="container">
  <div class="grid grid-cols-1 lg:grid-cols-2 gap-5">
    <div>
      <div class="relative overflow-hidden">
        <span
          class="font-semibold uppercase text-sm text-white inline-block py-1 px-2 leading-none absolute top-3 z-10 right-3 bg-orange"
          >Sale</span
        >
        <div class="gallery mb-6">
          <div class="swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img
                  src="{{ data.image }}"
                  class="w-[580px] h-[500px]"
                  alt="product image"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div>
      <h3 class="font-medium capitalize text-3xl">{{ data.name }}</h3>
      <h5 class="font-bold text-md leading-none text-orange my-3">
        <del class="font-normal text-sm mr-1 inline-block">Price: </del>${{
          data.price
        }}
      </h5>
      <p class="mb-8">Category: {{ data.category }}</p>
      <p class="mb-8">Description: {{ data.desc }}</p>

      <div>
        <div class="flex flex-wrap items-center justify-start mb-8">
          <a
            href="#"
            class="text-md text-facebook hover:text-dark mr-10 leading-none transition relative before:absolute before:top-1/2 before:-translate-y-1/2 before:left-7 before:empty before:bg-gray-900 before:w-4 before:h-1px"
            ><i class="icon-social-facebook"></i
          ></a>
          <a
            href="#"
            class="text-md text-twitter hover:text-dark mr-10 leading-none transition relative before:absolute before:top-1/2 before:-translate-y-1/2 before:left-7 before:empty before:bg-gray-900 before:w-4 before:h-1px"
            ><i class="icon-social-twitter"></i
          ></a>
          <a
            href="#"
            class="text-md text-dribbble hover:text-dark mr-10 leading-none transition relative before:absolute before:top-1/2 before:-translate-y-1/2 before:left-7 before:empty before:bg-gray-900 before:w-4 before:h-1px"
            ><i class="icon-social-instagram"></i
          ></a>
          <a
            href="#"
            class="text-md text-pinterest hover:text-dark leading-none transition"
            ><i class="icon-social-youtube"></i
          ></a>
          <div></div>
        </div>
      </div>
    </div>
  </div>
</div>
