
<div class="relative overflow-x-auto my-5">
  <h1 class="text-4xl font-bold text-center my-5 border border-gray-800 dark:bg-gray-700 text-white">Bài 3</h1>
  <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400 my-5">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr class="text-white">
        <th scope="col" class="px-6 py-3">
          Id
        </th>
        <th scope="col" class="px-6 py-3">
          First
        </th>
        <th scope="col" class="px-6 py-3">
          Last
        </th>
        <th scope="col" class="px-6 py-3">
          Year
        </th>
        <th scope="col" class="px-6 py-3">
          Passed
        </th>
      </tr>
    </thead>
    <tbody>
      <tr class="bg-white border-b text-black" *ngFor="let inventor of inventors">
        <th scope="row" class="px-6 py-4 font-medium text-black whitespace-nowrap ">
          {{inventor?.id}}
        </th>
        <td class="px-6 py-4">
          {{inventor?.first}}
        </td>
        <td class="px-6 py-4">
          {{inventor?.last}}
        </td>
        <td class="px-6 py-4">
          {{inventor?.year}}
        </td>
        <td class="px-6 py-4">
          {{inventor?.passed}}
        </td>
      </tr>
    </tbody>
  </table>
</div>
