<div class="flex h-screen">
  <form (ngSubmit)="onSubmit()" [formGroup]="categoryForm" class="flex-1 p-2">
    <h1 class="text-2xl font-bold mb-4">Add Product</h1>

    <div class="mb-4">
      <label class="block text-gray-700 font-bold mb-2"> Name </label>
      <input
        type="text"
        formControlName="name"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        required
      />
      <div
        *ngIf="
          categoryForm['controls']['name'].dirty &&
          categoryForm['controls']['name'].errors
        "
      >
        <div *ngIf="categoryForm['controls']['name'].errors['required']">
          Bắt buộc nhập
        </div>
      </div>
    </div>
    <button
      type="submit"
      class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded"
    >
      Thêm
    </button>
  </form>
</div>
