<div class="w-200">
  <div class="content w-1/3 ml-20 my-5">
    <div class="caption border border-red-500 border-1 pl-5 px-5 ">
      <h1 class="text-5xl font-bold text-red my-5 text-center">
        Thông tin sinh viên
      </h1>
      <div class="flex justify-center items-center">
        <img src={{student.anh}} alt="">
      </div>

      <ul class="mb-5 text-left ml-20">
        <li><span class="font-bold">Họ Tên: </span>{{student.hoten}}</li>
        <li><span class="font-bold">Ngày sinh: </span>{{student.ngaysinh}}</li>
        <li><span class="font-bold">Giới tính: </span>{{student.gioitinh}}</li>
        <li><span class="font-bold">Điểm Trung Bình: </span>{{student.diemTB}}</li>
      </ul>
    </div>
  </div>
