<div class="flex h-screen">
  <form (ngSubmit)="onSubmit()" [formGroup]="productForm" class="flex-1 p-2">
    <h1 class="text-2xl font-bold mb-4">Add Product</h1>

    <div class="mb-4">
      <label class="block text-gray-700 font-bold mb-2"> Name </label>
      <input
        type="text"
        formControlName="name"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        required
      />
      <div
        *ngIf="
          productForm['controls']['name'].dirty &&
          productForm['controls']['name'].errors
        "
      >
        <div *ngIf="productForm['controls']['name'].errors['required']">
          Bắt buộc nhập
        </div>
      </div>
    </div>
    <div class="mb-4">
      <label class="block text-gray-700 font-bold mb-2"> Price </label>
      <input
        formControlName="price"
        type="number"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        required
      />
    </div>

    <div class="mb-4">
      <label class="block text-gray-700 font-bold mb-2"> Image </label>
      <input
        type="text"
        formControlName="image"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        required
      />
      <div
        *ngIf="
          productForm['controls']['image'].dirty &&
          productForm['controls']['image'].errors
        "
      >
        <div *ngIf="productForm['controls']['image'].errors['required']">
          Bắt buộc nhập
        </div>
      </div>
    </div>
    <div class="mb-4">
      <label class="block text-gray-700 font-bold mb-2"> category</label>
      <select
        formControlName="category"
        name=""
        id=""
        class="shadow appearance-none border rounded w-1/4 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
      >
        <option [ngValue]="" selected>Select</option>
        <option [ngValue]="item.name" *ngFor="let item of category">
          {{ item.name }}
        </option>
      </select>
    </div>
    <div class="mb-4">
      <label class="block text-gray-700 font-bold mb-2"> Description </label>
      <textarea
        formControlName="desc"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        required
      ></textarea>
      <div
        *ngIf="
          productForm['controls']['desc'].dirty &&
          productForm['controls']['desc'].errors
        "
      >
        <div *ngIf="productForm['controls']['desc'].errors['required']">
          Bắt buộc nhập
        </div>
      </div>
    </div>
    <div class="mb-4">
      <label class="block text-gray-700 font-bold mb-2"> Show </label>
      <input
        type="checkbox"
        formControlName="isShow"
        class="shadow border rounded w-[20px] h-[20px]"
      />
    </div>
    <button
      type="submit"
      class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded"
    >
      Thêm
    </button>
  </form>
</div>
